<div data-ng-controller="insertUser">
    <form>

        <div class="form-group">
            <label for="userFirstName">Prénom</label>
            <input type="text" class="form-control" id="userFirstName" placeholder="Prénom">
        </div>

        <div class="form-group">
            <label for="userFirstName">Nom</label>
            <input type="text" class="form-control" id="userLastName" placeholder="Nom">
        </div>

        <div class="form-group">
            <label for="userEmail">Adresse email</label>
            <input type="email" class="form-control" id="userEmail" placeholder="username@domain.com">
        </div>

        <button type="submit" class="btn btn-primary">Ajouter utilisateur</button>
        <a href="/home">Retour à la liste</a>
    </form>
</div>