<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css">
    <title>Gestion des utilisateurs</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.3/angular.js"></script>
    <script src="../controller/listUsers.js"></script>
    <script src="../service/usersFactory.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

</head>

<body data-ng-app="usersManagement">
    <div data-ng-controller="listUsers">
        <table>
            <thead class="tableHeader">
                <tr>
                    <th class="tableColumnLabel">Prénom</th>
                    <th class="tableColumnLabel">Nom</th>
                    <th class="tableColumnLabel">Email</th>
                    <th class="tableColumnLabel">Inscription</th>
                    <th class="tableColumnLabel">Action <span data-bs-toggle="modal" data-bs-target="#userModal"
                            ng-click="getUserData(0)"><img src="../images/add.png"></span></th>
                </tr>
            </thead>

            <tbody class="tableBody">
                <tr ng-repeat="user in users">
                    <td class="tableCell">{{ user.firstName }}</td>
                    <td class="tableCell">{{ user.lastName }}</td>
                    <td class="tableCell">{{ user.email }}</td>
                    <td class="tableCell">{{ user.createdAt }}</td>
                    <td class="tableCell action">
                        <p>
                            <img src="../images/settings.png" ng-click="getUserData(user.id)" data-bs-toggle="modal"
                                data-bs-target="#userModal">
                        </p>

                        <p data-bs-toggle="modal" data-bs-target="#deleteUserModal" ng-click="getUserData(user.id)">
                            <img src="../images/delete.png">
                        </p>


                    </td>


                </tr>
            </tbody>

        </table>

        <div class="modal fade" id="deleteUserModal" tabindex="-1" aria-labelledby="deleteUserModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="deleteUserModalLabel">Supprimer un utilisateur</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>Voulez-vous vraiment supprimer cet utilisateur?</p>
                        <ul>
                            <li>Prénom : {{user.firstName}}</li>
                            <li>Nom : {{user.lastName}}</li>
                            <li>Adresse email : {{user.email}}</li>
                            <li>Inscription: {{user.createdAt}}</li>
                        </ul>


                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                        <button type="button" class="btn btn-danger" ng-click="deleteUser()"
                            data-bs-dismiss="modal">Confirmer la suppression</button>
                    </div>
                </div>
            </div>
        </div>


        <!-- Insert/Update modal-->
        <div class="modal fade" id="userModal" tabindex="-1" aria-labelledby="userModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="userModalLabel">Enregistrer un utilisateur</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <h2>Informations</h2>
                        <form>
                            <div class="form-group">
                                <label for="userFirstName">Prénom</label>
                                <input type="text"  ng-value="user.firstName" class="form-control" id="userFirstName"
                                    placeholder="Prénom">
                            </div>

                            <div class="form-group">
                                <label for="userLastName">Nom de famille</label>
                                <input type="text" ng-bind="user.lastName" ng-value="user.lastName" class="form-control" id="userLastName"
                                    placeholder="Nom de famille">
                            </div>

                            <div class="form-group">
                                <label for="userEmail">Adresse email</label>
                                <input type="email" ng-bind="user.email" ng-value="user.email" class="form-control" id="userEmail"
                                    placeholder="jeandupont05@gmail.com">
                            </div>

                            <div class="form-group" ng-if="(user.id > 0)">
                                <label for="userCreatedAt">Date d'inscription</label>
                                <input type="text" ng-bind="user.createdAt" ng-value="user.createdAt" class="form-control" id="userCreatedAt">
                            </div>

                        </form>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                        <button type="button" class="btn btn-primary" ng-click="sendRequest(user.id)"
                            data-bs-dismiss="modal">Confirmer</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Button trigger modal -->
    <!-- Modal -->


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous">
    </script>

</body>

</html>